<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.image.mapper.DaySummaryRecordMapper">

    <resultMap id="BaseResultMap" type="com.bf.image.pojo.DaySummaryRecord">
            <id property="daySummaryRecordId" column="day_summary_record_id" jdbcType="BIGINT"/>
            <result property="userCount" column="user_count" jdbcType="INTEGER"/>
            <result property="userAddCount" column="user_add_count" jdbcType="INTEGER"/>
            <result property="tevCount" column="tev_count" jdbcType="BIGINT"/>
            <result property="tevAddCount" column="tev_add_count" jdbcType="INTEGER"/>
            <result property="detailCount" column="detail_count" jdbcType="BIGINT"/>
            <result property="detailAddCount" column="detail_add_count" jdbcType="INTEGER"/>
            <result property="deviceCount" column="device_count" jdbcType="INTEGER"/>
            <result property="deviceAddCount" column="device_add_count" jdbcType="INTEGER"/>
            <result property="messageWarningCount" column="message_warning_count" jdbcType="INTEGER"/>
            <result property="messageWarningAddCount" column="message_warning_add_count" jdbcType="INTEGER"/>
            <result property="messageWarningRecordCount" column="message_warning_record_count" jdbcType="INTEGER"/>
            <result property="messageWarningRecordAddCount" column="message_warning_record_add_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        day_summary_record_id,user_count,user_add_count,
        tev_count,tev_add_count,detail_count,
        detail_add_count,device_count,device_add_count,
        message_warning_count,message_warning_add_count,message_warning_record_count,
        message_warning_record_add_count,create_time,update_time,
        is_delete
    </sql>
</mapper>
