<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.image.mapper.DetailInformationMapper">

    <resultMap id="BaseResultMap" type="com.bf.image.entity.DetailInformation">
            <id property="detailId" column="detail_id" jdbcType="BIGINT"/>
            <result property="imageId" column="image_id" jdbcType="BIGINT"/>
            <result property="powerSupplyStation" column="power_supply_station" jdbcType="TINYINT"/>
            <result property="distributionRoomName" column="distribution_room_name" jdbcType="TINYINT"/>
            <result property="deviceType" column="device_type" jdbcType="TINYINT"/>
            <result property="ambientTemp" column="ambient_temp" jdbcType="DOUBLE"/>
            <result property="centralTemp" column="central_temp" jdbcType="DOUBLE"/>
            <result property="maxTemp" column="max_temp" jdbcType="DOUBLE"/>
            <result property="minTemp" column="min_temp" jdbcType="DOUBLE"/>
            <result property="inspectionDetail" column="inspection_detail" jdbcType="VARCHAR"/>
            <result property="memo" column="memo" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        detail_id,image_id,power_supply_station,
        distribution_room_name,device_type,ambient_temp,
        central_temp,max_temp,min_temp,
        inspection_detail,memo,create_time,
        update_time,delete_flag
    </sql>
</mapper>
