<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.image.mapper.FileLatticeDataMapper">

    <resultMap id="BaseResultMap" type="com.bf.image.entity.FileLatticeData">
            <id property="fileLatticeDataId" column="file_lattice_data_id" jdbcType="BIGINT"/>
            <result property="detailId" column="detail_id" jdbcType="BIGINT"/>
            <result property="fixType" column="fix_type" jdbcType="TINYINT"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="bucketName" column="bucket_name" jdbcType="VARCHAR"/>
            <result property="fileOriginalName" column="file_original_name" jdbcType="VARCHAR"/>
            <result property="fileStorageName" column="file_storage_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        file_lattice_data_id,detail_id,fix_type,
        file_size,bucket_name,file_original_name,
        file_storage_name,create_time,update_time,
        delete_flag
    </sql>
</mapper>
