<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.image.mapper.WorkOrderMapper">

    <resultMap id="BaseResultMap" type="com.bf.image.pojo.WorkOrder">
            <id property="workOrderId" column="work_order_id" jdbcType="BIGINT"/>
            <result property="creatorId" column="creator_id" jdbcType="BIGINT"/>
            <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
            <result property="detailId" column="detail_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="newTime" column="new_time" jdbcType="TIMESTAMP"/>
            <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
            <result property="completeTime" column="complete_time" jdbcType="TIMESTAMP"/>
            <result property="failTime" column="fail_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        work_order_id,creator_id,reviewer_id,
        detail_id,status,create_time,
        update_time,new_time,review_time,
        complete_time,fail_time,type
    </sql>
</mapper>
